---
- name: Initialize Kubernetes Control Plane
  hosts: control_plane
  become: true
  tasks:
    - name: Initialize the Kubernetes cluster with kubeadm
      ansible.builtin.command: kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-cert-extra-sans=127.0.0.1
      args:
        creates: /etc/kubernetes/admin.conf
      register: kubeadm_init

    - name: Create .kube directory for the default user
      ansible.builtin.file:
        path: "/home/{{ default_user }}/.kube"
        state: directory
        owner: "{{ default_user }}"
        group: "{{ default_user }}"
        mode: '0755'

    - name: Copy admin.conf to user's kube config
      ansible.builtin.copy:
        src: /etc/kubernetes/admin.conf
        dest: "/home/{{ default_user }}/.kube/config"
        remote_src: true
        owner: "{{ default_user }}"
        group: "{{ default_user }}"
        mode: '0600'

    - name: Install Flannel CNI
      become: false
      ansible.builtin.command: kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
      changed_when: kubeadm_init.changed

    - name: Generate join command
      ansible.builtin.shell: kubeadm token create --print-join-command > /tmp/join-command.sh.local
      register: my_output
      changed_when: my_output.rc != 0

    - name: Store join command in a local file
      ansible.builtin.fetch:
        src: /tmp/join-command.sh.local
        dest: ./
        flat: true
      notify: Remove join files

    - name: Fetch kubeconfig to local machine
      ansible.builtin.fetch:
        src: /etc/kubernetes/admin.conf
        dest: ./kubeconfig-cluster.conf.local
        flat: true

  handlers:
    - name: Remove join files
      ansible.builtin.file:
        path: /tmp/join-command.sh
        state: "absent"
