---
- name: Join Worker Nodes to Cluster
  hosts: workers
  become: true
  tasks:
    - name: Check if kubelet.conf exists
      ansible.builtin.stat:
        path: /etc/kubernetes/kubelet.conf
      register: kubelet_conf

    - name: Copy join command to workers
      ansible.builtin.copy:
        src: ./join-command.sh.local
        dest: /tmp/join-command.sh
        mode: '0777'
      when: not kubelet_conf.stat.exists

    - name: Run the join command
      ansible.builtin.command: sh /tmp/join-command.sh
      async: 120
      poll: 10
      register: join_result
      when: not kubelet_conf.stat.exists
      changed_when: join_result.rc != 0

    - name: Remove the join script
      ansible.builtin.file:
        path: /tmp/join-command.sh
        state: absent
