---
- name: Prepare Nodes for Kubernetes
  hosts: all
  become: true
  tasks:
    - name: Load bridge networking modules
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop: [br_netfilter, overlay]

    - name: Persist modules on reboot
      ansible.builtin.copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          br_netfilter
          overlay
        mode: preserve

    - name: Configure sysctl for K8s networking
      ansible.posix.sysctl:
        name: "{{ item }}"
        value: "1"
        sysctl_file: /etc/sysctl.d/k8s.conf
        state: present
        reload: true
      loop:
        - net.bridge.bridge-nf-call-iptables
        - net.bridge.bridge-nf-call-ip6tables
        - net.ipv4.ip_forward

    - name: Disable swap immediately
      ansible.builtin.command: swapoff -a
      changed_when: ansible_facts["swaptotal_mb"] > 0

    - name: Remove swap from fstab
      ansible.builtin.replace:
        path: /etc/fstab
        regexp: '^([^#].*?\sswap\s+.*)$'
        replace: '# \1'

    - name: Install containerd
      ansible.builtin.apt:
        name: containerd
        state: present
        update_cache: true

    - name: Ensure containerd config directory exists
      ansible.builtin.file:
        path: /etc/containerd
        state: directory
        mode: "0755"

    - name: Initialize containerd default config
      ansible.builtin.shell: containerd config default > /etc/containerd/config.toml
      args:
        creates: /etc/containerd/config.toml

    - name: Enable SystemdCgroup in containerd
      ansible.builtin.replace:
        path: /etc/containerd/config.toml
        regexp: "SystemdCgroup = false"
        replace: "SystemdCgroup = true"
      notify: Restart Containerd

    - name: Install dependencies packages
      ansible.builtin.apt:
        name: [apt-transport-https, ca-certificates]
        state: present
        update_cache: true

    - name: Add K8s apt-key
      ansible.builtin.deb822_repository:
        name: kubernetes
        types: deb
        uris: https://pkgs.k8s.io/core:/stable:/v1.35/deb/
        signed_by: https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key
        suites: / # REALLY important here
        architectures: arm64

    - name: Install K8s tools (locked to version)
      ansible.builtin.apt:
        name: [kubelet, kubeadm, kubectl]
        state: present
        update_cache: true

    - name: Prevent K8s tools from being upgraded automatically
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop: [kubelet, kubeadm, kubectl]

    - name: Ensure default user exists
      ansible.builtin.user:
        name: "{{ default_user }}"
        state: present
        create_home: true
        shell: /bin/bash

  handlers:
    - name: Restart Containerd
      ansible.builtin.service:
        name: containerd
        state: restarted
